{#
# Theme override for the node created field.
# This is an override of field.html.twig for the node created field.
#
# Available variables:
# - attributes: HTML attributes for the containing span element.
# - items: List of all the field items. Each item contains:
#   - attributes: List of HTML attributes for each item.
#   - content: The field item content.
#
# @see field.html.twig
# @see node_preprocess_field__node()
#}
{% if not is_inline %}
  {% include "field.html.twig" %}
{% else %}
  {%
    set classes = [
      'field',
      'field--name-' ~ field_name|clean_class,
      'field--type-' ~ field_type|clean_class,
      'field--label-' ~ label_display,
    ]
  %}
  <span {{ attributes.addClass(classes) }}>
    {%- for item in items -%}
      {# Extracting the datetime attribute #}
      {% set datetime = item.content['#attributes']['datetime'] %}
      {% set year = datetime|date('Y') %}
      {% set month = datetime|date('M') %}
      {% set day = datetime|date('d') %}
      
      <time datetime="{{ datetime }}" title="{{ item.content['#attributes']['title'] }}" class="datetime">
        <span class="date-month">{{ month }}</span>
        <span class="date-day">{{ day }}</span>
        <span class="date-year">{{ year }}</span>
      </time>
    {%- endfor -%}
  </span>
{% endif %}
